<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit is working</h1>
    <form action="/p/<%= _p._id %>?_method=PUT" method="post">
        
        <input type="text" name="name" id="name"  placeholder="text" required value="<%= _p.name %>">
        <button>EDIT</button>
    </form>
    <a href="/p">HOME</a>
    <a href="/p/<%= _p._id %>">POST</a>
</body>
</html>